

nav {
  position: absolute;
  width: 1440px;
  height: 75px;
  left: 0px;
  top: 0px;
  background-color: #5856D6;
}

 .nav-menu {
  background-color: #5856D6;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  position: absolute;
  width: 1240px;
  height: 75px;
  left: 100px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rocket-icon {
  background-color:#5856D6;
  color: #F9F9F9;
  padding-right: 8px;
  /* position: absolute; */
  width: 50px;
  height: 50px;
  left: 24px;
  top: 12.5px;
}

.logo-wordmark {
  /* position: absolute; */
  width: 118px;
  height: 29px;
  left: 86px;
  top: 23px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
}

.nav-innards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: static;
  width: 332px;
  height: 29px;
  left: 884px;
  top: 23px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

@media screen and (max-width: 768px) {
  .nav-menu{
    float: none;
    width: 100%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 75px;
  width: 1440px;
  height: 480px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  background-position:center;
  background-size:cover;
}

.astronaut-image {
  object-fit: cover;
}

.hero-innards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 24px;
  position: absolute;
  width: 1240px;
  height: 120px;
  left: 100px;
  top: 180px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  position: static;
  width: 120px;
  height: 41px;
  left: 24px;
  top: 79px;
  background: #5AC8FA;
  color: #F7F7F7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
  border: #F7F7F7;
}

.hero-h3 {
    position: static;
    width: 1192px;
    height: 67px;
    left: 24px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    display: flex;
    align-items: center;
    color: #F7F7F7;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
  }

  @media screen and (max-width: 768px) {
    .hero{
      width: 390px;
    }
  }

  .progress-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 24px;
    position: absolute;
    width: 1240px;
    height: 54px;
    left: 60vw;
    top: 579px;
  }


  .progress-p {
    position: static;
    width: 112px;
    height: 10px;
    left: 15px;
    top: 12px;
    font-family: 'Lato';
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #53575A;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 24px;
  }

  .progress-container {
    background-color: #E2E2E2;
    width: 327px;
    height: 30px;
    left: 151px;
    top: 12px;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    position: static;
  }

  .progress-amt {
    background-color: #5856D6;
    height: 25px;
    left: 151px;
    width: 131px;
    top: 12px;
    padding: 1%;
    border-radius: 15px;
    position: static;
  }

  @media screen and (max-width: 768px) {
    .progress-container{
      left: 10px;
    }
  }
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    align-content: space-between;
    align-items: center;
    padding: 48px 24px;
    position: static;
    width: 365.33px;
    height: 137px;
    /* left: 850.66px; */
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.125);
    flex: 0 24%;
    order: 2;
    flex-grow: 1;
    margin: 2%;
  }

  .cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 24px;
    position: absolute;
    width: 1240px;
    height: 137px;
    left: 100px;
    top: 657px;
  }

  .grey-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    position: static;
    width: 120px;
    height: 41px;
    left: 221.33px;
    top: 48px;
    background: #CCCCCC;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
    color: #FFFFFF;
    border: #FFFFFF;
  }

  .blue-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    position: static;
    width: 120px;
    height: 41px;
    left: 221.33px;
    top: 48px;
    background: #5AC8FA;
    border: #FFFFFF;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
  }
  .card-title {
    position: static;
    width: 125px;
    height: 29px;
    left: 24px;
    top: 54px;
    font-family: 'Lato';
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #53575A;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }

  @media screen and (max-width: 768px) {
    .cards-list {
      width: 100%;
      /* flex-direction: column; */
      left: 50vw;
    }
  }

  .footer {
  position: absolute;
  width: 1440px;
  height: 53px;
  left: 0px;
  top: 1868px;
  background: #555555;
  }

  @media screen and (max-width: 768px) {
    .footer{
      top: 3800px;

    }
  }
