/* /* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> */

* {
  overflow: hidden;
}

nav {
  position: absolute;
  width: 1440px;
  height: 75px;
  left: 0px;
  top: 0px;
  background-color: #5856D6;
}

.nav-menu {
  background-color: #5856D6;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #F9F9F9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  position: absolute;
  width: 1240px;
  /* height: 75px; */
  left: 100px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rocket-icon {
  background-color:#5856D6;
  color: #F9F9F9;
}

.logo-wordmark {
  position: static;
  width: 180px;
  height: 50px;
  left: 24px;
  top: 12.5px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.nav-innards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: static;
  width: 332px;
  height: 29px;
  left: 884px;
  top: 23px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 12px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 12px 24px; */
  left: 0px;
  top: 75px;
  width: 1440px;
  height: 480px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  background-position:center;
  background-size:cover;
}

.astronaut-image {
object-fit: cover;
}

.hero-innards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 24px;
  position: absolute;
  width: 1240px;
  height: 120px;
  left: 100px;
  top: 180px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.hero-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  position: static;
  width: 120px;
  height: 41px;
  left: 24px;
  top: 79px;
  background: #5AC8FA;
  color: #F7F7F7;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
  border: #F7F7F7;
}

.hero-h3 {
  position: static;
  width: 1192px;
  height: 67px;
  left: 24px;
  top: 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  display: flex;
  align-items: center;
  color: #F7F7F7;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
  }

  .progress-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 24px;
    position: absolute;
    width: 1240px;
    height: 54px;
    left: 60vw;
    top: 579px;
  }

  /* .progress-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 0px;
  position: static;
  width: 478px;
  height: 54px;
  left: 738px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
  } */ */

  .progress-p {
    position: static;
    width: 112px;
    height: 10px;
    left: 15px;
    top: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #53575A;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 24px;
  }

  .progress-container {
    background-color: #E2E2E2;
    width: 327px;
    height: 30px;
    left: 151px;
    top: 12px;
    border-radius: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    position: static;
  }

  .progress-amt {
    background-color: #5856D6;
    height: 24px;
    left: 151px;
    width: 131px;
    top: 12px;
    padding: 1%;
    border-radius: 15px;
    position: static;
  }
